__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.ipynb_checkpoints/

.venv/
venv/
.conda/

.DS_Store
Thumbs.db

latex/*.aux
latex/*.log
latex/*.out
latex/*.fls
latex/*.fdb_latexmk
latex/*.synctex.gz
latex/results.json
latex/results_table.tex
latex/outputs_ready.txt
latex/figs/*.png


data/AmazonReviews/*